@using Microsoft.Extensions.Localization
@using AI_JMS.Models
@inject IStringLocalizer<SharedResource> Localizer
@model List<tblMenus>



<hr class="sidebar-divider my-0">

@if (Model != null && Model.Any())
{
    @foreach (var menu in Model)
    {
        <li class="nav-item">
            @* Sử dụng Tag Helpers (asp-...) thay vì href="@menu.Url" 
               vì Database của bạn chia nhỏ thành Area, Controller, Action
            *@
            <a class="nav-link" 
               asp-area="@menu.AreaName" 
               asp-controller="@menu.ControllerName" 
               asp-action="@menu.ActionName">
                <i class="fas @menu.Icon"></i>
                <span>@Localizer[menu.MenuName ?? "DefaultMenu"]</span>
            </a>
        </li>
    }
}
else
{
    @* Hiển thị thông báo nếu Role này chưa được phân menu nào *@
    <li class="nav-item">
        <span class="nav-link text-gray-500">@Localizer["NoAccessMenu"]</span>
    </li>
}